.modales-dialog{
    border-radius: 20px;
    border: none;
    background: var(--white);
    padding: 2rem 5rem;
}

.modales-dialog::backdrop{
    background-color: #303232E6;
}

.modal-title{
    font-size: 1.7rem;
    margin: 0 0 2.5rem;
    text-align: center;
}

.form-modal{
    display: flex;
    flex-direction: column;
}

.label{
    margin-bottom: 1rem;
}

.select:hover{
    cursor: pointer;
}

.select{
    width: 18rem;
    height: 4rem;
    margin-bottom: 1rem;
    border: 1px solid #818A91;
    border-radius: 35px;
}

.btn-modal{
    background: linear-gradient(180deg, #D9606D 0%, #B70114 100%);
    border: none;
    border-radius: 35px;
    width: 29vh;
    height: 5.6vh;
    color: white;
    font-family: var(--font);
    font-size: 1.1rem;
    margin: 1rem auto;
}

.btn-modal:hover{
    cursor: pointer;
}
