body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-image: url(../assets/img/fondo.webp);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    font-size: 1.5rem;
}

.logo{
    width: 44.5vh ;
}

.box{
    width: 45.7vh;
    height: 62.5vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background: #EFEFEF;
    box-shadow: 10px 10px 15px #00000029;
    border-radius: 20px;
}

.output__pin{

    width: 67%;
}

.output__list{
    display: flex;
    justify-content: space-evenly;
}

.output__item{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #818A91;
    border-radius: 10px;

    width: 6.3vh;
    height: 6.3vh;
}

.keypad{
    display: flex;
    justify-content: center;
}

.keypad__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 67%;
}

.keypad__item{
    border: 2px solid #b7bdc2;  
    border-radius: 50%;

    height: 6.8vh;
    width: 6.8vh;

    margin: 0 .2rem .5rem  ;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    background: transparent linear-gradient(180deg, #D9606D 0%, #B70114 100%) ;
    border: none;
    border-radius: 35px;

    width: 29vh;
    height: 5.6vh;

    color: white;
    font-family: var(--font);
    font-size: 1.1rem;
}

.btn:hover, .keypad__item:hover{
    cursor: pointer;
}

.keypad__item:hover{
    background-color: #b7bdc2;
}