body, .box, .output__pin,.container, .output__item, .keypad, .keypad__item{
    display: flex;
    font-size: 1.7rem;
}

body, .box, .output__item, .output__pin, .keypad, .keypad__item{
    align-items: center;
    justify-content: center;
}

body, .box {
    flex-direction: column;
}

.output__pin, .keypad{
    width: 100%;
}

.container{
    width: 68%;
}

.output__list, .keypad__list{
    justify-content: space-evenly;
}

body{
    background-image: url(../assets/img/fondo.webp);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.logo{
    width: 26rem;
    height: 8rem;
    margin: 0rem 0 2.6rem;
}

.box{
    width: 29.2rem;
    height: 40rem;

    background: #EFEFEF;
    box-shadow: 10px 10px 15px #00000029;
    border-radius: 20px;
}

.title{
    padding: 2rem 0 2rem;
}

.output__pin{
    margin-bottom: 2rem;    
}


.output__item{
    border: 1px solid #818A91;
    border-radius: 10px;

    width: 4.1rem;
    height: 4.1rem;
}

.keypad__list{
    flex-wrap: wrap;
}

.keypad__item{
    border: 2px solid #b7bdc2;  
    border-radius: 50%;

    height: 4.7rem;
    width: 4.7rem;

    margin: .08rem;
    margin-bottom: .5rem;
}

.btn{
    background: transparent linear-gradient(180deg, #D9606D 0%, #B70114 100%) ;
    border: none;
    border-radius: 35px;

    width: 18.3rem;
    height: 3.5rem;
    margin: 1.3rem 0 1.5rem;

    color: white;
    font-family: var(--font);
    font-size: 1.1rem;
}

.btn:hover, .keypad__item:hover{
    cursor: pointer;
}

.keypad__item:hover{
    background-color: #b7bdc2;
}

/*----------- Responsive -----------*/

/*@media screen and (max-width: 1200px){
    .box{
        width: 27.2rem;
        height: 36rem;
    }
}*/