body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background: url(../assets/img/fondo.webp) center/100% 100% no-repeat;
    font-size: 1.5rem;
}

#pinForm{
    display: flex;
    justify-content: center;
}

.logo {
    width: 44.5vh;
}

.pin-input-box {
    width: 45.7vh;
    height: 62.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background: #EFEFEF;
    box-shadow: 10px 10px 15px #00000029;
    border-radius: 20px;
}

.output-pin {
    width: 67%;
}

.output-list {
    display: flex;
    justify-content: space-evenly;
}

.output-item{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #818A91;
    border-radius: 10px;

    width: 6.3vh;
    height: 6.3vh;
}

#pin{
    display: none;
}