/* propiedades repetitivas */

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.color-white{
    color: var(--white);
}

/* main*/

body {
    background-color: var(--black);
    justify-content: space-evenly;
    align-items: center;
}

main {
    width: 100%;
    height: 80%;
    justify-content: space-evenly;
}

/* navegacion principal*/

.table-opened-nav {
    justify-content: space-evenly;
}

.nav-btn {
    background: var(--red);
    border-radius: 20px;
    width: 7.68%;
    height: 6.7rem;
    align-items: center;
    justify-content: space-evenly;
}

.icon-btn {
    width: 3rem;
}

.table-title-container{
    background: var(--yellow);
    border-radius: 20px;
    width: 52.56%;
    height: 6.7rem;
    justify-content: center;
}

.comanda-text {
    margin-left: 1rem;
}

.folio-container {
    background: var(--red);
    width: 20.83%;
    border-radius: 20px;
    justify-content: center;
}

.nav-btn-green  {
    background: #41d320;
}

/*----------------------*/

.main-food {
    justify-content: space-evenly;
}

.main-btns-container {
    background: var(--white);
    border-radius: 20px;
    width: 7.68%;
    height: 27.9rem;
    justify-content: space-between;
}

.side-btn-list {
    margin-top: 1rem;
}

.side-btn-item{
    text-align: center;
    font-size: 0.6rem;
    margin-bottom: 1.3rem;
}

.side-btn-icon{
    width: 1.4rem;
}

.food-container{
    background-color: #EFEFEF;
    border-radius: 20px;
    width: 52.56%;
}

.food-header {
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.food-btn{
    padding: 0.35rem;
    background: #30323233;
    border: none;
    border-radius: 18px;
    font-size: 0.7rem;
    margin-right: 0.7rem;
}

.search {
    width: 26.8%;
    height: 1.5rem;
    background: white;
    border: 1px solid #30323233;
    border-radius: 18px;
}

.hrPrincipal {
    width: 94%;
    color: #30323233;
    margin: 1rem 1rem 1rem;
}

.food-menu {
    flex-wrap: wrap;
    margin-left: 0.5rem;
}

.food-menu-item {
    width: 7.1rem;
    height: 7.1rem;
    border-radius: 16px;
    background-color: #30323233;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem 1rem;
}

#food-entradas {
    background-image: url(../assets/img/ENTRADAS.webp);
    background-size: cover;
    color: var(--white);
}

.ticket {
    background-image: url(../assets/img/ticket.webp);
    background-size: cover;
    width: 30.34%;
}

.ticket-header {
    justify-content: space-evenly;
    margin-top: 3rem;
    color: var(--red);
}

.hr-ticket {
    width: 95%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--red);
}