body{
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/*------------ Header ------------*/

header{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.logo{
    width: 17.2vh;
}

.log-out__container{
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}

.font{
    font-size: 2.2vh;
}

.font-color{
    color: white;
    font-family: var(--font_semi);
}

.icon{
    width: 4.4vh;
}

/*------------ main ------------*/

main{
    display: flex;
    width: 88%;
    height: 82%;
    flex-direction: column;
    justify-content: space-between;
}

/*------------ Nav ------------*/

.menu{
    background-color: var(--yellow);
    width: 100%;
    height: 16vh;
    border-radius: 20px;
}

.font-tittle{
    font-size: 1.5rem;
    margin: 1rem 2rem;
}

.btns_container{
    display: flex;
    justify-content: space-around;
}

.btn-principal-content{
    display: none;
}

.btn-principal{
    width: 33%;
    /*width: 47vh;*/
    height: 6.5vh;

    background: none;
    border: 1px solid #303232;
    border-radius: 35px;

    font-family: var(--font);
    font-size: 1.5rem;
}

.btns_secundary-list{
    height: 6.5vh;
    min-width: 15.7vh;
    padding: 0 1rem 0;

    background: transparent linear-gradient(180deg, #EFEFEF 0%, #D3D2D2 100%) 0% 0% no-repeat padding-box;
    border-radius: 35px;
    border: none;

    font-family: var(--font);
    font-size: 1rem;
}

/*------------ Table section ------------*/

.table-section{
    height: 79%;
    background: #EFEFEF 0% 0% no-repeat padding-box;
    border-radius: 20px;

    background-color: #EFEFEF;

    overflow-y: auto;
}

.table-list{
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.table-list{
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.table-list__item{
    width: 14.5vh;
    height: 14.5vh;
    margin: .8rem;
    border: 2px dashed #229306;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.table-list__item__icon{
    width: 3.5rem;
}

.table-list__item__title{
    text-align: center;
}

.modal{
    position: fixed;
    width: 100%;
    height: 100%;

    background: #303232f0;

    display: flex;
    align-items: center;
    justify-content: center;

    display: none;
}

.modal-content{
    width: 100%;
    height: 100%;
}