@media screen and (max-width: 860px){
    .icon{
        margin-left: 1rem;
    }
}

@media screen and (max-width: 550px){
    .font{
        display: none;
    }
}

@media screen and (min-width: 1100px){
    .log-out-container{
        justify-content: flex-end;
    }
    
    .icon{
        margin-left: 1rem;
    }
}