@media screen and (max-width: 460px){
    .logo{
        width: 30vh;
    }

    main{
        height: 70%;
    }

    #pinForm{
        height: 100%;
    }

    .pin-input-box {
        width: 90%;
        height: 100%;
    }

    .title{
        font-size: .9em;
    }

    .output-pin {
        width: 80%;
    }

    .output-item{
        width: 7vh;
        height: 7vh;
    }

    .keypad-items{
        width: 80%;
    }

    .keypad-item{
        height: 7vh;
        width: 7vh;
    }

    .btn{
        width: 80%;
    }
}