@media screen and (max-width: 1190px){
    .btn-secondary-list {
        height: 4.5vh;
        min-width: 1.7vh;
    }

    .btn-principal-content{
        width: 25%;
        font-size: 1.5rem;
    }
    
}

@media screen and (max-width: 990px){
    .burguer-menu{
        display: block;
        width: 2.8rem;
        margin-right: 5vh;
    }

    .burguer-menu:hover{
        cursor: pointer;
    }

    .btn-principal-content{
        width: 40%;
    }

    .btns-container-secondary{
        display: none;
        background-color: var(--white);
        position: fixed;
        top: 0;
        right: -10%;
        bottom: 0;
        width: 45%;
        z-index: 999; 
        overflow-y: auto;
    }

    .btn-secondary-list{
        margin: 2rem 0rem 0;
        width: 100%;
        border-radius: 0;
        background: none;
        font-size: 1.3rem;
    }
    
}

@media screen and (max-width: 700px){

    .btns-container-secondary{
        width: 40%;
    }

    .btn-secondary-list{
        font-size: 1.1rem;
    }
    
}

@media screen and (max-width: 650px){

    .btn-principal-content{
        font-size: 1rem;
    }

}

@media screen and (max-width: 550px){

    .font-title{
        font-size: 1.1rem;
    }

}

@media screen and (max-width: 500px){

    .btns-container-secondary{
        width: 50%;
    }

}

@media screen and (max-width: 450px){

    .title-container{
        margin: 1rem 0 1rem;
        justify-content: center;
    }

    .font-title{
        margin: 0 .5rem 0;
    }

    .btns-container{
        justify-content: space-evenly;
    }

    .btn-principal-content{
        margin: 0;
        width: 65%;
    }

    .burguer-menu{
        margin: 0;
        width: 20%\;
    }

}