.keypad{
    display: flex;
    justify-content: center;
}

.keypad-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 67%;
}

.keypad-item{
    border: 2px solid #b7bdc2;
    border-radius: 50%;
    height: 6.9vh;
    width: 6.9vh;
    margin: 0 .2rem .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    background: linear-gradient(180deg, #D9606D 0%, #B70114 100%);
    border: none;
    border-radius: 35px;
    width: 29vh;
    height: 5.6vh;
    color: white;
    font-family: var(--font);
    font-size: 1.1rem;
}

.btn:hover,
.keypad-item:hover{
    cursor: pointer;
}

.keypad-item:hover{
    background-color: #b7bdc2;
}
